.topBanner {
    position: relative;
    background: #f9f9f9;
    padding: 50px 0;
    transition: 0.5s;
}

.topBanner.on {
    height: 0;
    padding: 0 0;
    overflow: hidden;
}

.inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.topBanner h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.topBanner i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
}

.topBanner a {
    margin: 0 0 0 15px;
    padding: 3px 10px 5px 10px;
    border: 1px solid #ddd;
    font-size: 12px;
    vertical-align: 2px;
}

.header {
    background: beige;
}

.header h1 {
    font-size: 0;
}

.header .inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    line-height: 100px;
}

.header nav {
    margin: 0 0 0 auto;
}

.header .gnb>ul {
    display: flex;
    gap: 50px;
}

.header .gnb>ul a {
    display: block;

}

.header .right {
    position: relative;
    margin: 0 0 0 auto;
}

.header .right i {
    font-size: 25px;
}